<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="servus">
      <section name="host" type="EtAlii.Servus.Provisioning.Hosting.HostConfigurationSection, EtAlii.Servus.Provisioning.Hosting" />
      <section name="providers" type="EtAlii.Servus.Provisioning.Hosting.ProviderConfigurationsSection, EtAlii.Servus.Provisioning.Hosting" />
      <section name="service" type="EtAlii.Servus.Provisioning.WindowsServiceProvider.WindowsServiceConfigurationSection, EtAlii.Servus.Provisioning.WindowsServiceProvider" />
    </sectionGroup>
    </configSections>

  <servus>
    <service name="" />
    <host account="" password="" address="" />
    <providers>
      <add type="EtAlii.Servus.Provisioning.Time.TimeProviderFactory, EtAlii.Servus.Provisioning.Time" />
      <add type="EtAlii.Servus.Provisioning.Google.GoogleProviderFactory, EtAlii.Servus.Provisioning.Google" />
      <add type="EtAlii.Servus.Provisioning.Microsoft.Graph.MicrosoftGraphProviderFactory, EtAlii.Servus.Provisioning.Microsoft.Graph" />
      <add type="EtAlii.Servus.Provisioning.Facebook.FacebookProviderFactory, EtAlii.Servus.Provisioning.Facebook" />
      <add type="EtAlii.Servus.Provisioning.Mail.MailProviderFactory, EtAlii.Servus.Provisioning.Mail" />
      <add type="EtAlii.Servus.Provisioning.Twitter.TwitterProviderFactory, EtAlii.Servus.Provisioning.Twitter" />
    </providers>
  </servus>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  
  
</configuration>
