<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- <add key="EtAlii.Ubigia" value="https://nuget.pkg.github.com/vrenken/index.json" /> -->
  </packageSources>
  <!-- <packageSourceCredentials> -->
  <!--   <EtAlii.Ubigia> -->
  <!--     <add key="Username" value="vrenken" /> -->
  <!--     ~1~ The ClearTextPassword below is a read-only PAT token @1@ -->
  <!--     ~1~ During build/publish it is replaced with a write-enabled PAT token @1@ -->
  <!--     <add key="ClearTextPassword" value="37fcadd8f98f078f85446bb05d232ad408c2969f" /> -->
  <!--   </EtAlii.Ubigia> -->
  <!-- </packageSourceCredentials> -->
</configuration>
