<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- <add key="EtAlii.Ubigia" value="https://vrenken.pkgs.visualstudio.com/EtAlii.Ubigia/_packaging/EtAlii.Ubigia/nuget/v3/index.json" /> -->
    <add key="EtAlii.Ubigia" value="https://nuget.pkg.github.com/vrenken/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="vrenken" />
      <add key="ClearTextPassword" value=" " />
    </github>
  </packageSourceCredentials>
</configuration>
