<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="EtAlii.Ubigia" value="https://nuget.pkg.github.com/vrenken/EtAlii.Ubigia/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <EtAlii.Ubigia>
      <add key="Username" value="vrenken" />
      <add key="ClearTextPassword" value="37fcadd8f98f078f85446bb05d232ad408c2969f" /> <!-- Read only PAT token -->
    </EtAlii.Ubigia>
  </packageSourceCredentials>
</configuration>
