<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <ubigia>
    <host
      xdt:Transform="Replace"/>
    <!-- execute in elevated prompt: netsh http add urlacl url=http://+:62000/ user=Everyone -->
    <infrastructure 
      name="Storage" 
      account="root" 
      password="changeme" 
      address="http://+:62000" 
      xdt:Transform="Replace"/>
    <storage 
      name="Storage" 
      baseFolder="c:\users\vrenk_000\AppData\Local\EtAlii\Ubigia"
      xdt:Transform="Replace"/>
  </ubigia>

  <userSettings>
    <EtAlii.Ubigia.Hosting.TrayIconHost.Properties.Settings>
      <setting name="StorageBrowserPath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>StorageBrowser.exe</value>
      </setting>
    </EtAlii.Ubigia.Hosting.TrayIconHost.Properties.Settings>
  </userSettings>

</configuration>