<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="ubigia">
      <section name="host" type="EtAlii.xTechnology.Hosting.HostConfigurationSection, EtAlii.xTechnology.Hosting.TrayIconHost"/>
      <section name="infrastructure" type="EtAlii.Ubigia.Infrastructure.Transport.Owin.WebApi.InfrastructureConfigurationSection, EtAlii.Ubigia.Infrastructure.Transport.Owin.WebApi"/>
      <section name="storage" type="EtAlii.Ubigia.Storage.Ntfs.StorageConfigurationSection, EtAlii.Ubigia.Storage.Ntfs"/>
    </sectionGroup>

    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EtAlii.xTechnology.Hosting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <ubigia>
    <host/>
    <infrastructure name="" account="" password="" address=""/>
    <storage name="" baseFolder=""/>
  </ubigia>

  <userSettings>
    <EtAlii.xTechnology.Hosting.Properties.Settings>
      <setting name="StorageBrowserPath" serializeAs="String">
        <value>StorageBrowser.exe</value>
      </setting>
      <setting name="SpaceBrowserPath" serializeAs="String">
        <value>SpaceBrowser.exe</value>
      </setting>
    </EtAlii.xTechnology.Hosting.Properties.Settings>
  </userSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>

</configuration>
