@page "/"

@namespace EtAlii.Ubigia.Infrastructure.Transport.Admin.Portal


<Row >
    <Column ColumnSize="DefaultLayout.ItemDashboardColumnWidth">
        <Card Margin="DefaultLayout.Margin">
            <CardHeader>
                <Icon Name="@("bi bi-people")"/>
                Users
            </CardHeader>
            <CardBody>
                <CardTitle Size="5">Users</CardTitle>
                <CardText>
                    <Table Striped="true" Hoverable="true" Borderless="true">
                        <TableHeader>
                            <TableRow>
                                <TableHeaderCell>#</TableHeaderCell>
                                <TableHeaderCell>Name</TableHeaderCell>
                                <TableHeaderCell>Activity</TableHeaderCell>
                            </TableRow>
                        </TableHeader>
                        <TableBody>
                            <TableRow>
                                <TableRowHeader>1</TableRowHeader>
                                <TableRowCell>Tony Stark</TableRowCell>
                                <TableRowCell><Badge Color="Color.Primary" Pill>127 Kt/pm</Badge></TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableRowHeader>2</TableRowHeader>
                                <TableRowCell>Bruce Banner</TableRowCell>
                                <TableRowCell><Badge Color="Color.Primary" Pill>23 t/pm</Badge></TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableRowHeader>3</TableRowHeader>
                                <TableRowCell>Peter Parker</TableRowCell>
                                <TableRowCell><Badge Color="Color.Primary" Pill>324 Kt/pm</Badge></TableRowCell>
                            </TableRow>
                        </TableBody>
                    </Table>
                </CardText>
                <Button Color="Color.Primary" Size="Size.Small">Manage</Button>
            </CardBody>
        </Card>
    </Column>

    <Column ColumnSize="DefaultLayout.ItemDashboardColumnWidth">
        <Card Margin="DefaultLayout.Margin">
            <CardHeader>
                <Icon Name="@("bi bi-hdd-rack")"/>
                Storage
            </CardHeader>
            <CardBody>
                <CardTitle Size="5">Storage</CardTitle>
                <CardText>
                    <Table Striped="true" Hoverable="true" Borderless="true">
                        <TableHeader>
                            <TableRow>
                                <TableHeaderCell>#</TableHeaderCell>
                                <TableHeaderCell>Name</TableHeaderCell>
                                <TableHeaderCell>Activity</TableHeaderCell>
                            </TableRow>
                        </TableHeader>
                        <TableBody>
                            <TableRow>
                                <TableRowHeader>1</TableRowHeader>
                                <TableRowCell>Tony Stark</TableRowCell>
                                <TableRowCell><Badge Color="Color.Primary" Pill>127 Kt/pm</Badge></TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableRowHeader>2</TableRowHeader>
                                <TableRowCell>Bruce Banner</TableRowCell>
                                <TableRowCell><Badge Color="Color.Primary" Pill>23 t/pm</Badge></TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableRowHeader>3</TableRowHeader>
                                <TableRowCell>Peter Parker</TableRowCell>
                                <TableRowCell><Badge Color="Color.Primary" Pill>324 Kt/pm</Badge></TableRowCell>
                            </TableRow>
                        </TableBody>
                    </Table>
                </CardText>
                <Button Color="Color.Primary" Size="Size.Small">Manage</Button>
            </CardBody>
        </Card>
    </Column>

    <Column ColumnSize="DefaultLayout.ItemDashboardColumnWidth">
        <Card Margin="DefaultLayout.Margin">
            <CardHeader>
                <Icon Name="@("bi bi-hdd-network")"/>
                Network
            </CardHeader>
            <CardBody>
                <CardTitle Size="5">Network</CardTitle>
                <CardText>
                    <Table Striped="true" Hoverable="true" Borderless="true">
                        <TableHeader>
                            <TableRow>
                                <TableHeaderCell>#</TableHeaderCell>
                                <TableHeaderCell>Name</TableHeaderCell>
                                <TableHeaderCell>Activity</TableHeaderCell>
                            </TableRow>
                        </TableHeader>
                        <TableBody>
                            <TableRow>
                                <TableRowHeader>1</TableRowHeader>
                                <TableRowCell>Tony Stark</TableRowCell>
                                <TableRowCell><Badge Color="Color.Primary" Pill>127 Kt/pm</Badge></TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableRowHeader>2</TableRowHeader>
                                <TableRowCell>Bruce Banner</TableRowCell>
                                <TableRowCell><Badge Color="Color.Primary" Pill>23 t/pm</Badge></TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableRowHeader>3</TableRowHeader>
                                <TableRowCell>Peter Parker</TableRowCell>
                                <TableRowCell><Badge Color="Color.Primary" Pill>324 Kt/pm</Badge></TableRowCell>
                            </TableRow>
                        </TableBody>
                    </Table>
                </CardText>
                <Button Color="Color.Primary" Size="Size.Small">Manage</Button>
            </CardBody>
        </Card>
    </Column>

    <Column ColumnSize="DefaultLayout.ItemDashboardColumnWidth">
        <Card Margin="DefaultLayout.Margin">
            <CardHeader>
                <Icon Name="@("bi bi-speedometer")"/>
                Performance
            </CardHeader>
            <CardBody>
                <CardTitle Size="5">Performance</CardTitle>
                <CardText>
                    <Table Striped="true" Hoverable="true" Borderless="true">
                        <TableHeader>
                            <TableRow>
                                <TableHeaderCell>#</TableHeaderCell>
                                <TableHeaderCell>Name</TableHeaderCell>
                                <TableHeaderCell>Activity</TableHeaderCell>
                            </TableRow>
                        </TableHeader>
                        <TableBody>
                            <TableRow>
                                <TableRowHeader>1</TableRowHeader>
                                <TableRowCell>Tony Stark</TableRowCell>
                                <TableRowCell><Badge Color="Color.Primary" Pill>127 Kt/pm</Badge></TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableRowHeader>2</TableRowHeader>
                                <TableRowCell>Bruce Banner</TableRowCell>
                                <TableRowCell><Badge Color="Color.Primary" Pill>23 t/pm</Badge></TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableRowHeader>3</TableRowHeader>
                                <TableRowCell>Peter Parker</TableRowCell>
                                <TableRowCell><Badge Color="Color.Primary" Pill>324 Kt/pm</Badge></TableRowCell>
                            </TableRow>
                        </TableBody>
                    </Table>
                </CardText>
                <Button Color="Color.Primary" Size="Size.Small">Manage</Button>
            </CardBody>
        </Card>
    </Column>
</Row>
