<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="ubigia">
      <section name="host" type="EtAlii.xTechnology.Hosting.HostConfigurationSection, EtAlii.xTechnology.Hosting.WebsiteHost, Version=1.0.0.0, Culture=neutral" />
      <section name="infrastructure" type="EtAlii.Ubigia.Infrastructure.Transport.Owin.Rest.InfrastructureConfigurationSection, EtAlii.Ubigia.Infrastructure.Transport.Owin.Rest" />
      <section name="storage" type="EtAlii.Ubigia.Storage.Ntfs.StorageConfigurationSection, EtAlii.Ubigia.Storage.Ntfs" />
    </sectionGroup>
  </configSections>
  <ubigia>
    <host />
    <infrastructure name="Debug storage" account="test" password="123" address="http://localhost:64000" />
    <storage name="Debug storage" baseFolder="C:\Users\vrenk\AppData\Local\EtAlii\Ubigia" />
  </ubigia>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <clear />
      <add name="Owin" verb="" path="*" type="Microsoft.Owin.Host.SystemWeb.OwinHttpHandler, Microsoft.Owin.Host.SystemWeb" />




    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
  </system.webServer>
</configuration>
