<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <ubigia>
    <host
      xdt:Transform="Replace"/>
    <infrastructure
      name="Debug storage"
      account="test"
      password="123"
      address="https://localhost:64000"
      xdt:Transform="Replace"/>
    <storage
      name="Debug storage"
      baseFolder="C:\Users\vrenk\AppData\Local\EtAlii\Ubigia"
      xdt:Transform="Replace"/>
  </ubigia>

</configuration>
