<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <ubigia>
    <service
      xdt:Transform="Replace"
      name="Provisioning Service" />

    <host
      account="root" 
      password="changeme" 
      address="http://localhost:62000" 
      xdt:Transform="Replace"/>
  </ubigia>

</configuration>