<div class="container">
    <div>
        <img src='/Shared/Images/Gears.png'/><br/>Servus Admin world!
        <label>Name:</label>
        <input type="text" ng-model="yourName" placeholder="Enter a name here">
        <hr>
        <h1>Hello {{yourName}}!</h1>
    </div>
    <ul>
        <li data-ng-repeat="storage in storages">
            <b>{{storage.Name}}</b><br/>
            {{storage.Address}}<br/>
            U: {{storage.Accounts}} S: {{storage.Spaces}}<br/>
            {{storage.Status}}<br/>
            {{storage.Throughput}}
        </li>
    </ul>
</div>