# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.EtAlii.Ubigia.iml
# Datasource local storage ignored files
/../../../../../../../:\Git\EtAlii\EtAlii.Ubigia\.idea\.idea.EtAlii.Ubigia.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
