
/*login form*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

/* Toast notifications */

.toast-top-right {
    top:80px;
    right:12px
}

.navbar-inverse .navbar-nav>li>a.selectedNavbarOption {
    color: white
}

.navbar-inverse .navbar-header .selectedNavbarBrand{
    color: white
}