<div class="container">
    <div class="panel panel-primary">
        <div class="panel-body clearfix">
            <h4 class="panel-title pull-left col-xs-2 col-md-9" style="padding-top: 7.5px;"></h4>
        </div>

        <div class="panel-body">

            <form role="form" novalidate angular-validator name="settingsForm" angular-validator-submit="save()">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name">Application Id</label>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="settings.ApplicationId" name="applicationId" id="applicationId" placeholder="Application Id"
                                   validate-on="blur" required required-message="'Application Id is required'">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="settings.Password" name="password" id="password" placeholder="Password"
                                   validate-on="blur" required required-message="'Password is required'">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Private Key</label>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="settings.PrivateKey" name="privateKey" id="privateKey" placeholder="Private Key"
                                   validate-on="blur" required required-message="'Private Key is required'">
                        </div>
                    </div>
                    <input type="submit" name="submit" id="submit" value="Save" class="btn btn-info pull-right">
                </div>
            </form>


            <!--<div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Consumed storage</th>
                        <th>Spaces</th>
                        <th>Registered on</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="account in accounts | filter:filterText">
                        <td>{{account.Name}}</td>
                        <td>{{account.ConsumedStorage}}</td>
                        <td>{{account.NumberOfSpaces}}</td>
                        <td>{{account.RegisteredOn}}</td>
                        <td>{{account.Status}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>-->
        </div>
    </div>
</div>