<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-btn navbar-toggle collapsed pull-left" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand {{$root.applicationSection == 'Home' ? 'selectedNavbarBrand' : ''}}" href="#/">Ubigia</a>
            <ul class="{{$root.applicationSection == 'Login' ? 'hidden' : 'visible-xs nav pull-right'}}">
                <li ng-hide="currentUser.isAuthenticated"><button type="button" class="btn btn-success navbar-btn" ng-click="login();">Login<i class="fa fa-sign-in fa-fw"></i></button></li>
                <li ng-show="currentUser.isAuthenticated"><button type="button" class="btn btn-danger navbar-btn" ng-click="logout();">Logout<i class="fa fa-sign-out fa-fw"></i></button></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" ng-show="currentUser.isAuthenticated" >
                <li class="dropdown">
                    <a class="dropdown-toggle {{$root.applicationSection == 'Settings' ? 'selectedNavbarOption' : ''}}" data-toggle="dropdown" role="button" aria-expanded="false">Settings <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/settings/microsoft/graph/">Microsoft Graph</a></li>
                        <li><a href="#/settings/google/peopleapi/">Google People API</a></li>
                        <li><a href="#/settings/twitter/">Twitter</a></li>
                        <li><a href="#/settings/facebook/">Facebook</a></li>
                        <li><a href="#/settings/time/">Time</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle {{$root.applicationSection == 'Data' ? 'selectedNavbarOption' : ''}}" data-toggle="dropdown" role="button" aria-expanded="false">Data <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/storages/">Storages</a></li>
                        <!--<li class="active"><a href="#/Accounts">Accounts <span class="sr-only">(current)</span></a></li>-->
                        <li><a href="#/accounts/">Accounts</a></li>
                        <li><a href="#/spaces/">Spaces</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle {{$root.applicationSection == 'Reports' ? 'selectedNavbarOption' : ''}}" data-toggle="dropdown" role="button" aria-expanded="false">Reports <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/reports/operational/">Operational</a></li>
                        <li><a href="#/reports/functional/">Functional</a></li>
                        <li class="divider"></li>
                        <li><a href="#/reports/connectivity/">Connectivity</a></li>
                        <li><a href="#/reports/hardware/">Hardware</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="{{$root.applicationSection == 'Login' ? 'hidden' : 'hidden-xs nav navbar-nav navbar-right'}}">
                <li ng-hide="currentUser.isAuthenticated"><button type="button" class="btn btn-success navbar-btn" ng-click="login();">Login<i class="fa fa-sign-in fa-fw"></i></button></li>
                <li ng-show="currentUser.isAuthenticated"><button type="button" class="btn btn-danger navbar-btn" ng-click="logout();">Logout<i class="fa fa-sign-out fa-fw"></i></button></li>
            </ul>
        </div>
    </div>
</nav>