<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="ubigia">
      <section name="host" type="EtAlii.Ubigia.Provisioning.Hosting.HostConfigurationSection, EtAlii.Ubigia.Provisioning.Hosting" />
      <section name="provisioning" type="EtAlii.Ubigia.Provisioning.ProvisioningConfigurationSection, EtAlii.Ubigia.Provisioning" />
      <section name="providers" type="EtAlii.Ubigia.Provisioning.ProviderConfigurationsSection, EtAlii.Ubigia.Provisioning" />
    </sectionGroup>
  </configSections>

  <ubigia>
    <!--<service name=""/>-->
    <host />
    <provisioning account="" password="" address="" />
    <providers>
      <add type="EtAlii.Ubigia.Provisioning.Time.TimeProviderFactory, EtAlii.Ubigia.Provisioning.Time" />
      <add type="EtAlii.Ubigia.Provisioning.Google.GoogleProviderFactory, EtAlii.Ubigia.Provisioning.Google" />
      <add type="EtAlii.Ubigia.Provisioning.Microsoft.Graph.MicrosoftGraphProviderFactory, EtAlii.Ubigia.Provisioning.Microsoft.Graph" />
      <add type="EtAlii.Ubigia.Provisioning.Facebook.FacebookProviderFactory, EtAlii.Ubigia.Provisioning.Facebook" />
      <add type="EtAlii.Ubigia.Provisioning.Mail.MailProviderFactory, EtAlii.Ubigia.Provisioning.Mail" />
      <add type="EtAlii.Ubigia.Provisioning.Twitter.TwitterProviderFactory, EtAlii.Ubigia.Provisioning.Twitter" />
    </providers>
  </ubigia>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>
