<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <ubigia>
    <host
      xdt:Transform="Replace"
      account="root" 
      password="changeme" 
      address="http://localhost:62000" />
  </ubigia>

</configuration>