<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EtAlii.Ubigia.Api" version="1.0.9" targetFramework="portable45-net45+win8+wpa81" />
  <package id="EtAlii.xTechnology.Collections" version="1.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="EtAlii.xTechnology.MicroContainer" version="1.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="EtAlii.xTechnology.Structure" version="1.0.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="EtAlii.xTechnology.Threading" version="1.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="HashLib" version="2.1.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Rx-Core" version="2.2.5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="portable45-net45+win8+wpa81" />
</packages>