<div class="container">
    <div class="panel panel-primary">
        <div class="panel-body clearfix">
            <h4 class="panel-title pull-left col-xs-2 col-md-9" style="padding-top: 7.5px;"></h4>
            <div class="input-group col-xs-10 col-md-3">
                <input id="inputSearch" type="search" ng-model="filterText" class="form-control shortInputSearch" placeholder="Search...">
                <div class="input-group-btn">
                    <button class="btn btn-primary" ng-click="search();"><i class="glyphicon glyphicon-search"></i></button>
                    <button class="btn btn-primary" ng-click="clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped"> 
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Consumed storage</th>
                        <th>Spaces</th>
                        <th>Registered on</th>
                        <th>Last updated</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="account in accounts | filter:filterText">
                        <td><a ng-href="#/account/edit/{{account.Id}}" title="View {{account.Name}} details">{{account.Name}}</a></td>
                        <td>{{account.ConsumedStorage}}</td>
                        <td>{{account.NumberOfSpaces}}</td>
                        <td>{{account.Created|date:'yyyy-MM-dd HH:mm'}}</td>
                        <td>{{account.Updated|date:'yyyy-MM-dd HH:mm'}}</td>
                        <td>{{account.Status}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>