<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <servus>
    <host
      xdt:Transform="Replace"/>
    <!-- execute in elevated prompt: netsh http add urlacl url=http://+:64000/ user=Everyone -->
    <infrastructure 
      name="Debug storage" 
      account="test" 
      password="123" 
      address="http://+:64000" 
      xdt:Transform="Replace"/>
    <storage 
      name="Debug storage" 
      baseFolder="%LOCALAPPDATA%\EtAlii\Servus"
      xdt:Transform="Replace"/>
  </servus>

  <userSettings>
    <EtAlii.Servus.Infrastructure.Hosting.Properties.Settings>
      <setting name="StorageBrowserPath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>..\..\..\..\..\..\Client\Windows\Diagnostics\EtAlii.Servus.Diagnostics.StorageBrowser\bin\debug\StorageBrowser.exe</value>
      </setting>
      <setting name="SpaceBrowserPath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>..\..\..\..\..\..\Client\Windows\Diagnostics\SpaceBrowser\bin\debug\SpaceBrowser.exe</value>
      </setting>
    </EtAlii.Servus.Infrastructure.Hosting.Properties.Settings>
  </userSettings>

</configuration>