<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="ubigia">
      <section name="host" type="EtAlii.xTechnology.Hosting.HostConfigurationSection, EtAlii.xTechnology.Hosting.ConsoleHost" />
      <section name="infrastructure" type="EtAlii.Ubigia.Infrastructure.Transport.Owin.WebApi.InfrastructureConfigurationSection, EtAlii.Ubigia.Infrastructure.Transport.Owin.WebApi" />
      <section name="storage" type="EtAlii.Ubigia.Storage.Ntfs.StorageConfigurationSection, EtAlii.Ubigia.Storage.Ntfs" />
    </sectionGroup>
    
  </configSections>

  <ubigia>
    <host />
    <infrastructure name="" account="" password="" address="" />
    <storage name="" baseFolder="" />
  </ubigia>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>
