<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="EtAlii.Ubigia" value="https://vrenken.pkgs.visualstudio.com/_packaging/EtAlii.Ubigia/nuget/v3/index.json" protocolVersion="3" />
    <add key="Syncfusion WPF source" value="http://nuget.syncfusion.com/MTc5NjE4LDY=" />
  </packageSources>
</configuration>