<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="ubigia">
      <section name="host" type="EtAlii.Ubigia.Infrastructure.Hosting.HostConfigurationSection, EtAlii.Ubigia.Infrastructure.Hosting.WindowsServiceHost" />
      <section name="infrastructure" type="EtAlii.Ubigia.Infrastructure.Transport.Owin.Rest.InfrastructureConfigurationSection, EtAlii.Ubigia.Infrastructure.Transport.Owin.Rest" />
      <section name="storage" type="EtAlii.Ubigia.Storage.Ntfs.StorageConfigurationSection, EtAlii.Ubigia.Storage.Ntfs" />
    </sectionGroup>
  </configSections>

  <ubigia>
    <host />
    <infrastructure name="" account="" password="" address="" />
    <storage name="" baseFolder="" />
  </ubigia>
</configuration>
