<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <ubigia>
    <host
      xdt:Transform="Replace"/>
    <infrastructure
      name="Storage"
      account="root"
      password="changeme"
      address="https://localhost:62000"
      xdt:Transform="Replace"/>
    <storage
      name="Storage"
      baseFolder="C:\Users\vrenk\AppData\Local\EtAlii\Ubigia"
      xdt:Transform="Replace"/>
  </ubigia>

</configuration>
