# Top level entry required to mark this as a global AnalyzerConfig file
root = true

[*.cs]
######## Indentation and spacing ########
indent_size = 4
indent_style = space
tab_width = 4
#dotnet_diagnostic.*.severity = error
dotnet_diagnostic.CA2000.severity = error
dotnet_diagnostic.S1135.severity = error
dotnet_diagnostic.MA0004.severity = error # [MA0004] Use ConfigureAwait(false) as the current SynchronizationContext is not needed

dotnet_diagnostic.CA2007.severity = suggestion
dotnet_diagnostic.MA0049.severity = suggestion # [MA0049] Type name should not match namespace
dotnet_diagnostic.CA2000.severity = suggestion # [CA2000] Use recommended dispose pattern.

dotnet_diagnostic.S1135.severity = suggestion #  [S1135] Complete the task associated to this 'TODO' comment. 

######## .NET Coding Conventions ########

# CA2000: Dispose objects before losing scope

#dotnet_code_quality.CA2000.severity = error
#dotnet_code_quality.CA2007.severity = error

csharp_style_var_for_built_in_types=true


# Disable regions
# maybe Stylecop rules?
# Correct member names
# correct curly brackets
# only one class per file.
# - SA1402 StyleCop.Analyzers

