# Top level entry required to mark this as a global AnalyzerConfig file
root = true

[*.cs]
######## Indentation and spacing ########
indent_size = 4
indent_style = space
tab_width = 4
######## Style ##########################
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/
csharp_style_expression_bodied_methods = true:silent
csharp_style_expression_bodied_properties = when_on_single_line:error
csharp_style_expression_bodied_indexers = when_on_single_line:error
csharp_style_expression_bodied_accessors = when_on_single_line:error

dotnet_style_qualification_for_field = false:error
dotnet_style_qualification_for_property = false:error
dotnet_style_qualification_for_method = false:error
dotnet_style_qualification_for_event = false:error
dotnet_style_require_accessibility_modifiers = for_non_interface_members:error
dotnet_style_readonly_field = true:error
csharp_prefer_static_local_function = false:error # We don't want static methods.
###### Make private fields underscored.
dotnet_naming_symbols.private_fields.applicable_kinds                           = field
dotnet_naming_symbols.private_fields.applicable_accessibilities                 = private
dotnet_naming_style.private_fields_must_be_underscored_style.capitalization     = camel_case
dotnet_naming_style.private_fields_must_be_underscored_style.required_prefix    = _
dotnet_naming_rule.private_fields_must_be_underscored.style                     = private_fields_must_be_underscored_style
dotnet_naming_rule.private_fields_must_be_underscored.symbols                   = private_fields
dotnet_naming_rule.private_fields_must_be_underscored.severity                  = error

###### Make public elements capitalized.
# # Defining the 'public_symbols' symbol group
# dotnet_naming_symbols.public_symbols.applicable_kinds           = property,method,field,event,delegate
# dotnet_naming_symbols.public_symbols.applicable_accessibilities = public
# dotnet_naming_symbols.public_symbols.required_modifiers         = readonly
# # Defining the `first_word_upper_case_style` naming style
# dotnet_naming_style.first_word_upper_case_style.capitalization = first_word_upper
# # Defining the `public_members_must_be_capitalized` naming rule, by setting the symbol group to the 'public symbols' symbol group,
# dotnet_naming_rule.public_members_must_be_capitalized.symbols   = public_symbols
# # setting the naming style to the `first_word_upper_case_style` naming style,
# dotnet_naming_rule.public_members_must_be_capitalized.style    = first_word_upper_case_style
# # and setting the severity.
# dotnet_naming_rule.public_members_must_be_capitalized.severity = suggestion
dotnet_diagnostic.IDE1006.severity = error

######## Quality ########################
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/

#########################################
#dotnet_diagnostic.*.severity = error
dotnet_diagnostic.CA2000.severity = error
dotnet_diagnostic.S1135.severity = error
dotnet_diagnostic.MA0004.severity = error # [MA0004] Use ConfigureAwait(false) as the current SynchronizationContext is not needed

dotnet_diagnostic.CA2007.severity = suggestion
dotnet_diagnostic.MA0049.severity = suggestion # [MA0049] Type name should not match namespace
dotnet_diagnostic.CA2000.severity = suggestion # [CA2000] Use recommended dispose pattern.
dotnet_diagnostic.CA1822.severity = suggestion # [CA1822] Mark members as static, however as we aim to use as few static keywords as possible this is a false alarm. 

dotnet_diagnostic.S1135.severity = suggestion #  [S1135] Complete the task associated to this 'TODO' comment. 

######## .NET Coding Conventions ########

# CA2000: Dispose objects before losing scope

#dotnet_code_quality.CA2000.severity = error
#dotnet_code_quality.CA2007.severity = error

csharp_style_var_for_built_in_types=true


# Disable regions
# maybe Stylecop rules?
# Correct member names
# correct curly brackets
# only one class per file.
# - SA1402 StyleCop.Analyzers

