<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="EtAlii.Ubigia" value="https://vrenken.pkgs.visualstudio.com/_packaging/EtAlii.Ubigia/nuget/v3/index.json" />
    <!-- <add key="AspNetCore.Dev" value="https://dotnet.myget.org/f/aspnetcore-dev" /> -->
    <!-- <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" /> -->
    <add key="powershell-core" value="https://powershell.myget.org/F/powershell-core/api/v3/index.json" />  
    <add key="Syncfusion WPF source" value="http://nuget.syncfusion.com/nuget_wpf/nuget/getsyncfusionpackages/wpf/" />  
</packageSources>
</configuration>
