<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="2.2.0.4" targetFramework="net461" />
  <package id="EtAlii.Ubigia.Api" version="1.0.10" targetFramework="net461" />
  <package id="EtAlii.xTechnology.Diagnostics" version="1.0.2" targetFramework="net461" />
  <package id="EtAlii.xTechnology.MicroContainer" version="1.0.1" targetFramework="net461" />
  <package id="EtAlii.xTechnology.MicroMvvm" version="1.0.0.0" targetFramework="net461" />
  <package id="EtAlii.xTechnology.Structure" version="1.0.3" targetFramework="net461" />
  <package id="Fluent.Ribbon" version="4.0.3.394" targetFramework="net461" />
  <package id="Hardcodet.Wpf.Taskbar" version="1.0.4" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net461" />
</packages>