<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="ubigia">
      <section name="host" type="EtAlii.Ubigia.Infrastructure.Hosting.Owin.HostConfigurationSection, EtAlii.Ubigia.Infrastructure.Hosting.Owin" />
      <section name="infrastructure" type="EtAlii.Ubigia.Infrastructure.Transport.Owin.WebApi.InfrastructureConfigurationSection, EtAlii.Ubigia.Infrastructure.Transport.Owin.WebApi" />
      <section name="storage" type="EtAlii.Ubigia.Storage.Ntfs.StorageConfigurationSection, EtAlii.Ubigia.Storage.Ntfs" />
    </sectionGroup>
    
  </configSections>

  <ubigia>
    <host />
    <infrastructure name="" address="" />
    <storage name="" baseFolder="" />
  </ubigia>

  <!--<ubigia2>
    <infrastructure name="" address="" >
      <storage name="" baseFolder="" />
      <services>
        <WebApi>
          <AdminApi />
          <AdminPortal />
          <UserApi />
          <UserPortal />
        </WebApi>
        <SignalR>
          <AdminApi />
          <UserApi />
        </SignalR>
        <Grpc>
          <AdminApi />
          <UserApi />
        </Grpc>
      </services>
    </infrastructure>
    <provisioning />
  </ubigia2>

  <ubigia3>
    <services>
    <storage name="" baseFolder="" />
    <infrastructure name="" address="" />
      
    <WebApi />
    <WebApiAdminApi />
    <WebApiAdminPortal />
    <WebApiUserApi />
    <WebApiUserPortal />
        
    <SignalR />
    <SignalRAdminApi />
    <SignalRUserApi />
        
    <GrpcAdminApi />
    <GrpcUserApi />
      
      <provisioning />
    </services>
  </ubigia3>-->

</configuration>
